<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Warbler</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">

  <link rel="stylesheet" href="https://www.unpkg.com/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/warbler-logo.png" alt="logo">
          <span>Warbler</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">

        {% block searchbox %}
        <li>
          <form class="navbar-form navbar-end" action="/users">
            <input name="q" class="form-control" placeholder="Search Warbler" aria-label="Search" id="search">
            <button class="btn btn-default">
              <span class="bi bi-search"></span>
            </button>
          </form>
        </li>
        {% endblock %}

        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}
        <li>
          <a href="/users/{{ g.user.id }}">
            <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}">
          </a>
        </li>
        <!--<a href="/messages/new">New Message</a> -->
        <li>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            New Message
          </button>
        </li>
        <li>
          <form action="/logout" method="POST">
            {{ g.csrf_form.hidden_tag() }}
            <button>Log out</button>
          </form>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Warble!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/messages/new" method="POST">
                {{ g.message_form.csrf_token }}
                <div>
                  {% if g.message_form.text.errors %}
                  {% for error in g.message_form.text.errors %}
                  <span class="text-danger">
                    {{ error }}
                  </span>
                  {% endfor %}
                  {% endif %}
                  {{ g.message_form.text(
                  placeholder="What's happening?",
                  class="form-control",
                  rows="3") }}
                </div>
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </form>
            </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="/static/app.js"></script>
  <script type="text/javascript">
    axios.defaults.headers.common["X-CSRFToken"] = "{{ csrf_token() }}";
  </script>
</body>

</html>